---
layout: page
title: "About"
description: ""
header-img: "img/about-bg.jpg"
multilingual: true
---

<!-- Language Selector -->
<!--
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>
-->

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>

{% if site.disqus_username %}
<!-- disqus start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>

<script type="text/javascript">
    (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://https-cain19811028-github-io.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<!-- disqus end -->
{% endif %}
